<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<link
	href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css"
	rel="stylesheet"
	integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC"
	crossorigin="anonymous">
<title>Administrador</title>
</head>
<body>
	<header th:replace="/plantilla/template :: header"></header>

	<div class="container overflow-hidden p-3">
		<div class="row gx-5">
			<div class="col">
				<div class="p-3 border bg-light text-center">
					<a class="btn btn-outline-dark" th:href="@{/administrador/docentes/crear}"
						role="button">Agregar Docente</a>
				</div>
			</div>
			<div class="col">
				<div class="p-3 border bg-light text-center">
					<a class="btn btn-outline-dark" th:href="@{/administrador/alumnos/crear}"
						role="button">Agregar Alumno</a>
				</div>
			</div>
			<div class="col">
				<div class="p-3 border bg-light text-center">
					<a class="btn btn-outline-dark" th:href="@{/administrador/cursos/crear}"
						role="button">Agregar Curso</a>
				</div>
			</div>
			<div class="col">
				<div class="p-3 border bg-light text-center">
					<a class="btn btn-outline-dark" th:href="@{/administrador/materias/crear}"
						role="button">Agregar Materia</a>
				</div>
			</div>
		</div>
	</div>
	<div class="container" th:each="c:${cursos}">
		<div  class="card border-success mb-3" style="max-width: 18rem;">
			<div class="card-header bg-transparent border-success"th:text="*{c.nombre}"></div>
			<div class="card-body text-success">
				<h5 class="card-title">Success card title</h5>
				<p class="card-text">Some quick example text to build on the
					card title and make up the bulk of the card's content.</p>
			</div>
			<div class="card-footer bg-transparent border-success">Footer</div>
		</div>
	</div>

	<div class="p-5">
		<footer th:replace="/plantilla/template :: footer"></footer>
	</div>
</body>
</html>