<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<link rel="stylesheet" type="text/css"
	href="/static/css/scrollTabla.css">
<link
	href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css"
	rel="stylesheet"
	integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC"
	crossorigin="anonymous">
<title>Administrador</title>
</head>
<body>
	<header th:replace="/plantilla/templateAdmin :: header"></header>
	<div class="container align-center">
		<div class="card">
			<div class="card-header text-center">
				<h1 th:text="*{tituloPrincipal}"></h1>
			</div>
			<div class="card-body">
				<form th:action="@{/alumnos/guardar}" th:object="${alumno}"
					method="post" class="row g-3">
					<input type="hidden" th:field="*{id}" id="nombre">
					<div class="col-md-4">
						<label for="nombre" class="form-label">Apellido y Nombre</label> <input
							type="text" th:field="*{nombre}" class="form-control" id="nombre"
							name="nombre">
					</div>
					<div class="col-md-4">
						<label for="dni" class="form-label">DNI</label> <input type="text"
							th:field="*{dni}" class="form-control" id="dni" name="dni">
					</div>
					<div class="col-4">
						<label for="fechaDeNacimiento" class="form-label">Fecha De
							Nacimiento</label> <input type="text" th:field="*{fechaDeNacimiento}"
							class="form-control" id="fecha_de_Nacimiento"
							name="fecha_de_nacimiento" placeholder="dd/MM/aaaa">
					</div>
					<div class="col-4">
						<label for="domicilio" class="form-label">Domicilio</label> <input
							type="text" th:field="*{domicilio}" class="form-control"
							id="domicilio" name="domicilio" placeholder="44 E/ 10 Y 11">
					</div>
					<div class="col-md-4">
						<label for="telefono" class="form-label">Telefono</label> <input
							type="text" th:field="*{telefono}" class="form-control"
							id="telefono" name="telefono">
					</div>
					<div class="col-md-4">
						<label for="email" class="form-label">Email</label> <input
							type="email" th:field="*{email}" class="form-control" id="email"
							name="email">
					</div>
					<div class="col-md-4">
						<label for="legajo" class="form-label">Nro de Legajo</label> <input
							type="text" th:field="*{legajo}" class="form-control" id="legajo"
							name="legajo">
					</div>
					<div class="col-md-4">
						<label for="cursos" class="form-check-label">Curso al que pertence</label> 
						<select th:field="*{cursos}" class="form-select" multiple
							aria-label="multiple select example">
							<option th:each="c : ${cursos}" selected th:text="${c.nombre}"
								th:value="${c.id}">Seleccione el curso</option>
						</select>
					</div>
					<button type="submit" th:href="@{/alumnos/crear}"
						class="btn btn-outline-success">Guardar</button>
				</form>
			</div>
		</div>
	</div>
	<div class="container col-4">
		<div class="row gx-5">
			<div class="col">
				<h3 class="text-center" th:text="${tituloLista}"></h3>
				<div
					class="p-3 border bg-light text-center table-wrapper-scroll-y my-custom-scrollbar">
					<table class="table table-bordered table-striped mb-0">
						<thead>
							<tr>
								<th scope="col">Id</th>
								<th scope="col">Alumno</th>
							</tr>
						</thead>
						<tbody>
							<tr th:each="a:${alumnos}">
								<th scope="row" th:text="${a.id}"></th>
								<td th:text="${a.nombre}"></td>
								<td><a class="btn btn-outline-warning"
									th:href="@{/alumnos/editar/}+${a.id}" role="button">Editar</a>
									<a class="btn btn-outline-danger"
									th:href="@{/alumnos/eliminar/}+${a.id}" role="button">Eliminar</a></td>
							</tr>
						</tbody>
					</table>
				</div>
			</div>
		</div>
	</div>
	<footer th:replace="/plantilla/template :: footer"></footer>
</body>

</html>