<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<link
	href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css"
	rel="stylesheet"
	integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC"
	crossorigin="anonymous">
<title>Docente</title>
</head>
<body>
<header th:replace="/plantilla/template :: header"></header>
	<div class="container align-center">
		<div class="card">
			<div class="card-header text-center">
				<h1 th:text="*{tituloPrincipal}"></h1>
				<h3 th:text="*{curso.nombre}"></h3>
				<h3 th:text="*{materia.nombre}"></h3>
			</div>
			<div class="card-body">
			<form th:action="@{/asistencia/guardar}" th:object="${pasarLista}" method="post">
			<input type="hidden" th:field="*{curso.id}" id="idCurso"></input>
			<input type="hidden" th:field="*{materia.id}" id="idMateria"></input>
			<label>Fecha:</label>
			<input type="text" th:field="*{fecha}">
				<table class="table">
					<thead>
						<tr>
							<th scope="col">#</th>
							<th scope="col">Apellido y Nombre</th>
							<th scope="col">Presentismo</th>
							<th scope="col">Observaciones</th>
						</tr>
					</thead>
					<tbody>
						
							<tr th:each="al:${alumnoCurso}">
								<th scope="row" th:text="${al.alumno.id}"></th>
								
								<td th:text=${al.alumno.nombre}></td>
								<td><div class="form-check ">
										<input class="form-check-input" type="checkbox" th:value="true"
											id="presente" checked>
									</div></td>
								<td><textarea class="form-control" th:field="*{observaciones}" id="exampleFormControlTextarea1" rows="1"></textarea></td>
							</tr>
							
						
					</tbody>
				</table>
				
				<button type="submit" th:href="@{/administrador/listar}"
							class="btn btn-outline-success">Guardar Asistencia</button>
				</form>
			</div>
		</div>
	</div>

	<div class="p-5">
		<footer th:replace="/plantilla/template :: footer"></footer>
	</div>
</body>
</html>